<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${actionType}+' Book')}"></header>
<main>
    <form th:object="${book}" class="upsert-form" method="post" th:attr="action=@{/category/updateDetail}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" th:field="*{code}">
        <input type="hidden" th:field="*{isBorrowed}">
        <table>
            <tbody>
            <tr>
                <td><label>Title*</label></td>
                <td>
                    <input type="text" th:field="*{title}">
                    <div class="field-validation-error" th:errors="*{title}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Category</label></td>
                <td>
                    <input type="text" th:field="*{categoryName}" readonly/>
                </td>
            </tr>
            <tr>
                <td><label>Author*</label></td>
                <td>
                    <select th:field="*{authorId}">
                        <option th:value=null>No Specific Author</option>
                        <option th:each="option : ${authorDropdown}" th:value="${option.longValue}"
                                th:text="${option.text}" th:selected="${option.longValue}"/>
                    </select>
                    <div class="field-validation-error" th:errors="*{authorId}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Release Date</label></td>
                <td>
                    <input type="date" th:field="*{releaseDate}">
                    <div class="field-validation-error" th:errors="*{releaseDate}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Total Page</label></td>
                <td>
                    <input type="number" min="0" th:field="*{totalPage}">
                    <div class="field-validation-error" th:errors="*{totalPage}"></div>
                </td>
            </tr>
            <tr>
                <td class="textarea-label"><label>Summary</label></td>
                <td>
                    <textarea th:field="*{summary}"></textarea>
                    <div class="field-validation-error" th:errors="*{summary}"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="blue-button" th:text="${actionType}+' Book'"></button>
        <a class="blue-button" th:href="@{/category/detail(name=${book.categoryName})}">Back to index</a>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>
