<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Winterhold</title>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/site.css}"/>
    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/resources/js/site.js}" defer></script>
</head>
<body>
<nav th:fragment="navigation">
    <div class="company-logo">
        <img th:src="@{/resources/image/logo.png}" alt="Winterhold" />
        <h1>
            <span class="bold">winterhold</span>
        </h1>
    </div>
    <a class="menu home" th:href="@{/}">
        <i class="fas fa-th"></i>
        <span>Home</span>
    </a>
    <a class="menu author" th:href="@{/author}">
        <i class="fab fa-skype"></i>
        <span>Authors</span>
    </a>
    <a class="menu category" th:href="@{/category}">
        <i class="fas fa-box-open"></i>
        <span>Books</span>
    </a>
    <a class="menu customer" th:href="@{/customer}">
        <i class="fab fa-codiepie"></i>
        <span>Customers</span>
    </a>
    <a class="menu loan" th:href="@{/loan}">
        <i class="fab fa-instagram"></i>
        <span>Loan</span>
    </a>
</nav>
<header th:fragment="header(breadCrumbs)">
    <div class="bread-crumbs">
        <span th:text="${breadCrumbs}"></span>
    </div>
    <div class="user-wrapper">
        <div class="user">
            <span class="full-name" sec:authentication="name"></span>
            <span class="role">Admin</span>
        </div>
        <div class="sign-out">
            <form method="post" th:attr="action=@{/signout}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>
</header>
<main></main>
<footer th:fragment="footer">
    Copyright &copy; 2021
    <span class="author">Muhammad Amin Mubarok</span>
    All right reserved.
</footer>
</body>
</html>